<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-star-printer"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>star-printer-plugin</name>
    
    <js-module name="star-printer-plugin" src="www/star-printer-plugin.js">
        <clobbers target="cordova.plugins.StarPrinter" />
    </js-module><platform name="ios">
        
        <config-file parent="/*" target="config.xml">
            <feature name="star-printer-plugin">
                <param name="ios-package" value="StarPrinter" />
            </feature>
        </config-file>
        
        <!--<header-file src="src/ios/StarIO.framework/Headers/BluetoothPort.h">
        <header-file src="src/ios/StarIO.framework/Headers/enum.h">
        <header-file src="src/ios/StarIO.framework/Headers/Lock.h">
        <header-file src="src/ios/StarIO.framework/Headers/Port.h">
        <header-file src="src/ios/StarIO.framework/Headers/SMBluetoothManager.h">-->
        <!--<header-file src="src/ios/star_io_framework/Headers/SMPort.h" />-->
        <!--<header-file src="src/ios/StarIO.framework/Headers/SMProxiPRNTManager.h">
        <header-file src="src/ios/StarIO.framework/Headers/WBluetoothPort.h">-->
        <source-file src="src/ios/StarPrinter.m" />
        <!--<source-file src="src/ios/StarIO.framework" />-->

        <framework src="ExternalAccessory.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="src/ios/StarIO.framework" custom="true" />
    </platform>
</plugin>
