<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="omni-printer-plugin"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>star-printer-plugin</name>
    
    <platform name="ios">
        <js-module name="omni-printer-plugin" src="www/ios.js">
            <clobbers target="OmniPrinter" />
        </js-module>
    
        <!-- The following tags do set the External Accesory Property in the .plist file.  However the setting is not used org
        recognized in the build process unless hand endtered -->   
        <!--<preference name="STAR_EXTERNAL_ACCESSORY" default="jp.star-m.starpro" />

        <config-file target="*-Info.plist" parent="Supported external accessory protocols">
            <array>
                <string>$STAR_EXTERNAL_ACCESSORY</string>
            </array>
        </config-file>-->

        <config-file target="config.xml" parent="/*" >
            <feature name="OmniPrinter">
                <param name="ios-package" value="StarPrinter" />
            </feature>
        </config-file>

        <framework src="ExternalAccessory.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="src/ios/StarIO.framework" custom="true"/>
        
        <source-file src="src/ios/StarPrinter.m" />
        <header-file src="src/ios/StarPrinter.h" />
    </platform>

    <platform name="android">
        <js-module name="omni-printer-plugin" src="www/android.js">
            <clobbers target="OmniPrinter" />
        </js-module>
      
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OmniPrinter">
                <param name="android-package" value="net.omnidispatch.ionic.OmniPrinterPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>

        <source-file src="src/android/net/omnidispatch/ionic/OmniPrinterPlugin.java" target-dir="src/net/omnidispatch/ionic/" />
        <source-file src="src/android/net/omnidispatch/ionic/PrinterStatusExec.java" target-dir="src/net/omnidispatch/ionic/" />
        <source-file src="src/android/net/omnidispatch/ionic/PrintExec.java" target-dir="src/net/omnidispatch/ionic/" />
        <source-file src="src/android/StarIOPort3.1.jar" target-dir="libs" />
    </platform>
</plugin>
